.snakemake/
data/80_genomes/
data/82_genomes/
results/
.theano/
external/
.conda/
.bash_history
.conda_pkg_tmp/
.condarc
.python_history
log/
Rplots.pdf
bin/__pycache__/
.Snakefile.swp
data/new/
.parallel/
bin/cazy_extract.pl
tmp/
saccharis_backup/
TODO.md
